.cont {
  width: 1018px;
  height: 600px;

  position: absolute;
  top: 0px;
  left: 200px;
}
.headernavbar {
  width: 1032px;
  height: 50px;

  display: flex;
  margin-top: 50px;
  position: fixed;
}
.hover1:hover {
  background-color: rgb(240, 240, 240);
}
td {
  width: 150px;
  margin-left: 20px;
}
td p {
  margin-left: 40px;
}
.binhover {
  background-color: #377796;
  color: white;
}
.binhover:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}
tr i {
  color: grey;
}
